<!DOCTYPE html>
<html {{ site.language_attributes }}>
<head>
  <meta charset="{{ site.charset }}" />
  <title>
    {% if wp_title %}
      {{ wp_title }} - {{ site.name }}
    {% else %}
      {{ site.name }}
    {% endif %}
  </title>
  <meta name="description" content="{{ site.description}} ">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  {{ function('wp_head') }}

  {% block head_styles %}
    <link rel="stylesheet" href="{{ site.theme.link }}/static/css/libs.css?v=2.0" type="text/css">
    <link rel="stylesheet" href="{{ site.theme.link }}/static/css/style.css?v=2.0" type="text/css">
  {% endblock %}


<body style="background-color: {{ options.global_site_bg_color }}; background-image: url({{ TimberImage(options.global_site_bg).src }});">
  <div class="wrapper">

    {% block header %}
      {% include 'header.twig' %} <!-- .header-->
    {% endblock %}

    <div class="middle">
      {% block content %}
      {% endblock %}
    </div><!-- .middle-->

    {% block footer %}
      {% include 'footer.twig' %} <!-- .footer -->
      {{ function('wp_footer') }}
    {% endblock %}

  </div><!-- .wrapper -->

  {% block footer_scripts %}
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script src="{{ site.theme.link }}/static/js/libs.js?v=2.0"></script>
    <script src="{{ site.theme.link }}/static/js/main.js?v=2.0"></script>
  {% endblock %}

</body>
