<!doctype html>
<html {{site.language_attributes}}>
<head>
    <meta charset="{{site.charset}}" />
        <title>   
            {% if wp_title %}
                {{ wp_title }} - {{ site.name }}
            {% else %}
                {{ site.name }}
            {% endif %}
        </title>
    <meta name="description" content="{{site.description}}">
    <link rel="stylesheet" href="{{site.theme.link}}/style.css" type="text/css" media="screen" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    {{function('wp_head')}}
